
.main-container {
	width: 95vw;
	margin: 30px auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border: 1px dotted red;
}

.nav-bar {
	font-family: Verdana;
	font-weight: bold;
	position: fixed;
	top: 0;
	z-index: -1;
	display: flex;
	justify-content: center;
}

.nav-item {
	display: inline-block;
	padding: 5px 15px;
}

/*Styles for portfolio page index.html*/

.gallery-item {
	border: 1px solid black;
	display: inline-block;
}

.top-row .gallery-item {
	width: 40vw;
	height: 40vw;
	margin: 4px 6px;
}

.second-row .gallery-item {
	width: 25vw;
	height: 25vw;
	margin: 3px 6px;
}


/*Styles for about page about.html*/

.text-column {
	display: inline-block;
	text-align: justify;
	width: 28vw;
	margin: 6px;
}

.text-column p {
	margin: 2px 0 5px 0;
}

.small-img {
	float: right;
	width: 12vw;
	height: 12vw;
	margin: 3px 7px;
	border: 1px solid black;
}